.item__detail__container{
    width: 100%;
    height: 150vh;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/inicio.fondo.jpg);
    padding-top: 100px;
    display: flex;
}


.item__detail__container--info {
margin-right: 17.5%;
background-color: white;
text-align: center;
height: 350px;
width: 40%;
}

.item__detail__container--info p {
    padding-top: 10px;
}

.item__detail__container--info h4 {
    padding-top: 50px;
}

.item__detail__container img {
height: 350px;
width: 25%;
margin-left: 17.5%;
}

.item__detail__container--button {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item__detail__container--button button {
    margin-inline: 10px;
    margin-top: 20px;
  
}

.item__detail__container--button p {
    margin-top: 10px;
   
}