.itemsContainer {
color: black;
padding: 15px;
align-items: center;
text-align: center;
background-color: white;
margin: 15px;
border-radius: 5%;
border: solid black 1px;
}

.itemsContainer img {
    width: 150px;
    height: 150px;
}

.itemsContainer button {
    cursor: pointer;
    margin-top: 5px;
    
}

.itemsContainer p {
    margin: 3px;
}

